{% extends "base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}


{% block head_title %}Статичная форма{% endblock %}



{% block content %}

<form method="POST" action="">
  {% csrf_token %}
    <div style="display: flex;	flex-direction: column;">
        <input type="text" value="text" name="text">

        <textarea name="comment" cols="40" rows="3">textarea</textarea>

        <input id="date" type="date" value="2017-06-01">

        <label>
            <input type="radio" name="browser" value="ie"> Internet Explorer
        </label>
        <label>
            <input type="radio" name="browser" value="opera"> Opera
        </label>
        <label>
            <input type="radio" name="browser" value="firefox"> Firefox
        </label>
        <label>
            <input type="checkbox" name="checkbox" checked> checkbox
        </label>
        <select name="select">
          <option>Пункт 1</option>
          <option>Пункт 2</option>
        </select>

        <select multiple name="multiselect">
            <option>Чебурашка</option>
            <option>Крокодил Гена</option>
            <option>Шапокляк</option>
            <option>Крыса Лариса</option>
        </select>

        <input name="myFile" type="file">

        <button type="submit">Добавить</button>
    </div>
</form>
{% endblock %}

<!--
text
textarea
date
radiobutton
checkboхs
select
multiselect
image
-->